.paneHead{
    --background: #222428;
    color: #15C2FB;    
    text-align: center;
    font-size: 3rem;
}
.sideMenuTiles{
    --background: #223343;
    color: lightgray;
}
.paneColor{
    --background: #223343;   
    min-height: 100vh; 
}
.roomList{
    background-color: #223343; 
    padding: 0px;      
}
.roomInSiteMap{
    padding-left: 3rem;
}