<ion-app>
  <ion-split-pane>
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar class="paneHead">
          <ion-title>
            <ion-icon name="home" size="large"></ion-icon>
            <h3>Home Map</h3>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="paneColor">
        <!-- <ion-list>
          <ion-menu-toggle *ngFor="let p of menuItem">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-label>{{p.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->


        <div *ngFor="let floor of globalSiteMap">
          <!-- {{floor.floor}}
          <ion-menu-toggle *ngIf="floor.rooms">
            <ion-item [routerLink]="floor.floor" routerDirection="root" routerLinkActive="active">
              <ion-icon name="star" slot="start"></ion-icon>
              <ion-label>
                {{ floor.floor }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->

          <ion-item button *ngIf="floor.rooms.length > 0" (click)="floor.open = !floor.open"
            [class.active-parent]="floor.open" detail="false"
            class="sideMenuTiles">
            <ion-icon name="arrow-forward" slot="start" *ngIf="!floor.open" color="success"></ion-icon>
            <ion-icon name="arrow-down" slot="start" *ngIf="floor.open" color="success"></ion-icon>
            <ion-label>{{floor.floor}}</ion-label>
          </ion-item>
          
          <ion-list *ngIf="floor.open" class="roomList">
            <ion-menu-toggle auto-hide="false">
              <ion-item class="roomInSiteMap sideMenuTiles" *ngFor="let room of floor.rooms" [routerLink]="floor.floor + '|' + room.name + '|' + room.id" routerDirection="root" routerLinkActive="active">
                <ion-icon name="star" slot="start"  color="success"></ion-icon>
                <ion-label>
                  {{ room.name }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>  
          </ion-list>


        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
